[submodule "rtt"]
	path = rtt
	url = https://github.com/rtaudio/rtt.git
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose
[submodule "pclog"]
	path = pclog
	url = https://github.com/rtaudio/pclog
