[submodule "rtt"]
	path = rtt
	url = https://github.com/rtaudio/rtt.git
[submodule "pclog"]
	path = pclog
	url = https://github.com/rtaudio/pclog
[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/rtaudio/rtaudio
[submodule "fdk-aac"]
	path = fdk-aac
	url = https://github.com/rtaudio/fdk-aac
[submodule "autil"]
	path = autil
	url = https://github.com/rtaudio/autil
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "ThreadPool"]
	path = ThreadPool
	url = https://github.com/progschj/ThreadPool
[submodule "masaj"]
	path = masaj
	url = https://github.com/rtaudio/masaj
