# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.suo
*.sdf
*.ilk
*.tlog
*.pdb
*.idb
*.opensdf
/CMakeFiles/
/Makefile
/cmake_install.cmake
/ulltra
CMakeCache.txt 
/*.m
*.enc
*.log

*.autosave
CMakeLists.txt.user
enc_temp_folder
*.vcxproj.user
ulltra.cbp
/out/*.m
